.logo-main {
	width: 250px;
	height: 70px;
}

.modal.small {
	width: 30%;
	margin-left: -15%;
}

.modal.medium {
	width: 50%;
	margin-left: -25%;
}

.form-small .control-label {
    width: 100px;
}

.form-small .controls {
    margin-left: 120px;
}

.form-medium .control-label {
    width: 180px;
}

.form-medium .controls {
    margin-left: 200px;
}

.form-xlarge .control-label {
    width: 240px;
}

.form-xlarge .controls {
    margin-left: 260px;
}

.signup-via {
	text-align: center;
	margin-left: 10px;
}