<!-- Modal -->
<div id="modal-signup" class="modal hide fade medium" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Sign Up</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span7">
				<form class="form-horizontal form-small" method="POST">
					{% csrf_token %}
					<div class="control-group">
						<label class="control-label" for="inputEmail">Email</label>
						<div class="controls">
							<input type="text" id="inputEmail" placeholder="Email">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Password</label>
						<div class="controls">
							<input type="password" id="inputPassword" placeholder="Password">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn">Sign up</button>
						</div>
					</div>
				</form>
			</div>
			<div class="signup-via span4">
				<p>
					<a class="btn btn-primary" href="{% url 'socialauth_begin' 'facebook' %}">Sign up via facebook</a>
				</p>
				<p>or</p>
				<p>
					<a class="btn orange" href="{% url 'socialauth_begin' 'google-oauth2' %}">Sign up via gmail</a>
				</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</div>
</div>