<!-- Modal -->
<div id="modal-signin" class="modal hide fade small" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Sign In</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal form-small" method="POST">
			{% csrf_token %}
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
					<input type="text" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input type="password" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox"> Remember me
					</label>
					<button type="submit" class="btn">Sign in</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button> -->
		<button class="btn btn-primary">Sign in via facebook</button>
	</div>
</div>