<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hashthat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Le styles -->
		<link href="{{ STATIC_URL }}/flatstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/flatstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/flatstrap/css/docs.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
		<link href="{{ STATIC_URL }}/flatstrap/js/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}/css/base.css" rel="stylesheet">


		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% block extrahead %}
		{% endblock %}
	</head>
	<body>
		<!-- Navbar
		================================================== -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="{% url 'home' %}"><img class="logo-main" src="{{ STATIC_URL }}/img/hashthat-logo.png"></a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="">
								<a href="#">Popular</a>
							</li>
							<li class="">
								<a href="#">About</a>
							</li>
							<li class="">
								<a href="#">Contact</a>
							</li>
						</ul>

						<ul class="nav pull-right">
							{% if not user.is_authenticated %}
							<li>
								<a class="btn btn-small action orange" href="#modal-signup" data-toggle="modal">Sign up</a></li>
							<li class="">
								<a href="#modal-signin" data-toggle="modal">Sign in</a>
							</li>
							{% else %}
							<li class="">
								<a href="{% url 'logout' %}">Logout</a>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End navbar -->

		<div class="row border-bottom hidden-phone">
			<div class="container leaderboard" style="text-align:center;"></div>
		</div>

		{% block container %}
		{% endblock %}

		<!-- Footer
		================================================== -->
		<footer class="footer">
			<div class="container">
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>Powered by Hashthat - all rights reserved &copy; {% now "Y" %}</p>
			</div>
		</footer>
		<!-- end Footer -->
		<!-- javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ STATIC_URL }}flatstrap/js/jquery.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/google-code-prettify/prettify.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-transition.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-alert.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-modal.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-dropdown.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-scrollspy.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-tab.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-tooltip.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-popover.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-button.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-collapse.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-carousel.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-typeahead.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/bootstrap-affix.js"></script>
		<script src="{{ STATIC_URL }}flatstrap/js/application.js"></script>

		{% block extra_js_link %}
		{% endblock %}

		{% block extra_js %}
		{% endblock %}

		{% include "modals/modal-sign-in.html" %}
		{% include "modals/modal-sign-up.html" %}
	</body>
</html>