{% extends "base.html" %}

{% block container %}
    <div class="jumbotron masthead">
        <div class="container">
        <h1>Hashthat</h1>
        </div>
    </div>
    <!--End mc_embed_signup-->

    <!-- TEMPLATES -->
    <div class="row-fluid templates">
        <div class="container">
            <div class="row-fluid">
            <h2>Hashthat Showcase</h2>
            <p>Your dicitionary of hashtags!</p>
            </div>
        </div>
    </div>
{% endblock %}